<!--  <h2 class = "center">COMMERCIAL INVOICE</h2>
<table id = "border" style="width:100%">
<tr>
	<td colspan = '2'>Exporter<br>DEVI FISHERIES LIMITED,<br>6-21-7, EAST POINT COLONY,<br>VISAKHAPATNAM 530017, INDIA.<br><br>IMPORTER OF RECORD<br>DEVI FISHERIES LIMITED,<br>6-21-7, EAST POINT COLONY,<br>VISAKHAPATNAM 530017,INDIA.<br>IRS NO. 044601-01124</td><td class = "b_r"></td>
	<td>
		<table>
			<tr>
				<td class = "b_b b_r">Invoice No.<br>Date</td> <td class = "b_b">DFL/SAT/1617/076<br>08.07.2016</td>
			</tr>
			<tr>
				<td class = "b_b b_r">Purchase Order No.<br>Date</td> <td class = "b_b">139050<br>17.06.2016</td>
			</tr>
			<tr>
				<td class = "b_b" colspan = "2">Other Reference(s) :</td><td class = "b_b"><td>
			</tr>
			<tr>
				<td>MANUFACTURER / PACKER'S NAME AND ADDRESS :<br>SATYA SEA FOODS PVT, LTD.,<br>2-159, PANASAPADU, APSP CAMP.<br>KAKINADA 533 005, INDIA<br>BIO TERRORISM / USFDA REGISTRATION NO. 14848863246</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td colspan = "2" class = "b_t">Consignee<br>CHICKEN OF THE SEA FROZEN FOODS,<br>222 N. SEPULVEDA BLVD,<br>SUITE 1550, EL SEGUNDO,<br>CA 90245, U.S.A.</td><td class = "b_t b_r"></td>
	<td colspan = "2" class = "b_t">Notify Party :<br>WILLIAMS CLARKE CO., INC,<br>603, N.FRIES AVE., WILMINGTON,<br>CA 90744, U.S.A.</td>
	<td class = "b_t"></td>

</tr>
<tr>
	<td class = "b_t b_r" colspan = '2'>
		<table>
			<tr>
				<td class = "b_r">Pre-Carriage by<br></td>
				<td>Place of Receipt by Pre-carrier<br></td>
			</tr>	
		</table>	
	</td>
	<td></td>
	<td class = "b_t" colspan = '2'>
		<table>
			<tr>
				<td>Country of Origin of Goods<br>INDIA</td>
				
			</tr>	
		</table>	
	</td>
	<td></td>
</tr>
<tr>
	<td colspan = "2" class = "b_t b_r">
		<table>
			<tr>
				<td class = "b_r">Vessel/Flight No.</td>
				<td>Port of Loading<br>VISAKHAPATNAM</td>
			</tr>
			<tr>
				<td class = "b_t b_r">Vessel/Flight No.</td>
				<td class = "b_t">Port of Loading.</td>
			</tr>
		</table>
	</td>
	<td></td>
	<td colspan = "2" class = "b_t">
		<table>
			<tr rowspan = "2">
				<td colspan = "2">Terms of Delivery and payment<br>BY TT AFETR FDA</td>
			</tr>
		</table>
	</td>
</tr>	
<tr>
	<td class = "b_t" colspan = "3">Container No.  Kind of Pkgs.</td>
	<! <td class = "b_t">No. & Kind of Pkgs.</td> -->
	<!-- <td class = "b_t">Description of Goods</td> -->
	<!-- <td class = "b_t">
		<table>
			<tr>
				<td class = "b_r">Quantity</td>
				<td>Rate per LB</td>
			</tr>
		</table>
	</td>
</tr>	
</table> -->



<h2 class = "center">COMMERCIAL INVOICE</h2>
<table id = "border" style="width:100%">
	<tr>
		<td colspan = "4" class = "b_r">
			<p>Exporter</br><b>DEVI FISHERIES LIMITED</b>,<br><b>6-21-7, EAST POINT COLONY</b>,<br><b>VISAKHAPATNAM 530017, INDIA</b>.</p>
			<p>IMPORTER OF RECORD</br><b>DEVI FISHERIES LIMITED</b>,</br><b>6-21-7, EAST POINT COLONY</b>,</br><b>VISAKHAPATNAM 530017, INDIA.</b></br><b>IRS NO. 044601-01124</b></p>
		</td>
		<td colspan = "4">
			<table>
				<tr>
					<td><p>Invoice No.<br>Date</p></td>
					<td colspan = "3" class ="b_l"><p><b>DFL/SAT/1617/076</b><br><b>08.07.2016</b></p></td>
				</tr>
				<tr>
					<td><p>Purchase Order No.<br>Date</p></td>
					<td colspan = "3" class ="b_t b_l"><p><b>139050<br>08.07.2016</b></p></td>
				</tr>
				<tr><td colspan = "4" class ="b_t b_b">Other Reference(s) :</td></tr>
				<tr>
					<td colspan = "4">
						<p><b><u>MANUFACTURER / PACKER'S NAME AND ADDRESS :<br>SATYA SEA FOODS PVT, LTD.,<br>2-159, PANASAPADU, APSP CAMP.<br>KAKINADA 533 005, INDIA<br>BIO TERRORISM / USFDA REGISTRATION NO. 14848863246</u></b></p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan = "4" class="b_t b_r b_b"><p>Consignee<br><b>CHICKEN OF THE SEA FROZEN FOODS,<br>222 N. SEPULVEDA BLVD,<br>SUITE 1550, EL SEGUNDO,<br>CA 90245, U.S.A.</b></p></td>
		<td colspan = "4" class="b_t  b_b"><p>Notify Party :<br><b>WILLIAMS CLARKE CO., INC,<br>603, N.FRIES AVE., WILMINGTON,<br>CA 90744, U.S.A.</b></p></td>
	</tr>
	<tr>
		<td colspan = "2">Pre-Carriage by<br></td>
		<td colspan = "2" class = "b_r">Place of Receipt by Pre-carrier<br></td>
		<td colspan = "2" class = "b_r"><p>Country of Origin of Goods</td>
		<td colspan = "3"><p>Country of Final Destination</td>
	</tr>
	<tr>
		<td colspan = "4" class ="b_b b_r" ></td>
		<td class = "center b_b b_r" colspan = "2"><b>INDIA</b></td>
		<td class = "center b_b" colspan = "2"><b>U.S.A</b></td>
	</tr>
	<tr>
		<td colspan = "2" class ="b_r">Vessel/Flight No.</td>
		<td colspan = "2" class ="b_r">Port of Loading</td>
		<td colspan = "4">Terms of Delivery and payment</td>
	</tr>
	<tr>
		<td colspan = "2" class = "b_b b_r">MV. LESOTHO V - 1613</td>
		<td class = "center b_b b_r" colspan = "2"><b>VISAKHAPATNAM</b></td>
		<td colspan = "4"><b>BY TT AFETR FDA</b></td>
	</tr>
	<tr>
		<td colspan = "2" class ="b_r">Port of Discharge</td>
		<td colspan = "2" class ="b_r">Final Place of Delivery <b>DDP</b></td>
		<td colspan = "4"></td>
	</tr>
	<tr>
		<td class = "center b_b b_r" colspan = "2"><b>LOS ANGELES, U.S.A.</b></td>
		<td class = "center b_b b_r" colspan = "2"><b>LOS ANGELES, U.S.A.</b></td>
		<td colspan = "4" class ="b_b"></td>
	</tr>
	<tr>
		<td class = "center b_b b_r">Marks & No's Container No.</td>
		<td class = "center b_b b_r">No. & Kind of Pkgs.</td>
		<td class = "center b_b b_r" colspan = "3">Description of Goods</td>
		<td class = "center b_r">Quantity</td>
		<td class = "center">Rate per LB</td>
		<td class = "center b_l">Amount US$</td>
	</tr>
	<tr>
		<td class = "center" colspan = "2"><b>3500 M/CS</b></td>
		<td class = "center b_r" colspan = "3"><b><u>CONTAINER NO. MWMU 6422966 SEAL NO. ML-IN 0609877</u></b></td>
		<td class = "center b_r"></td>
		<td class = "center"></td>
		<td class = "b_l"></td>
	</tr>
	<tr>
		<td colspan = "5" class = "b_r"><b><u>FROZEN RAW VANNAMEI WHITE PEELED AND DEVEINED TAIL ON IQF SHRIMPS PACKING : 4 X 2.5 LBS BRAND: PORTICO BOUNTY</u></b></td>
		<td class = "b_r"></td>
		<td></td>
		<td class = "b_l"><b><u>DDP PORT DELIVERY BASIS LOS ANGELES, U.S.A.</u></b></td>
	</tr>
	<tr>
		<td colspan = "2"></td>
		<td class = "center"><b><u>SIZE</u></b></td>
		<td colspan = "2" class = "center b_r"><b><u>NO.OF CTNS</u></b></td>
		<td class = "center b_r"><b><u>IN LBS.</u></b></td>
		<td class = "center"><b><u>IN US$</u></b></td>
		<td class = "b_l"></td>
	</tr>
	<tr>
		<td colspan = "2"></td>
		<td class = "center"><b>21/25</b></td>
		<td colspan = "2" class = "center b_r"><b>2700</b></td>
		<td class = "right b_r"><b>27000.000</u></b></td>
		<td class = "center"><b>4.95</b></td>
		<td class = "right b_l"><b>133650.00</b></td>
	</tr>
	<tr>
		<td colspan = "2"></td>
		<td class = "center"><b><u>TOTAL</u></b></td>
		<td colspan = "2" class = "center b_b b_t b_r"><b>2700</b></td>
		<td class = "right b_t b_r b_b"><b>27000.000</u></b></td>
		<td class = "center"></td>
		<td class = "right b_t b_b b_l"><b>133650.00</b></td>
	</tr>
	<tr>
		<td colspan = "4"><b><u>FROZEN RAW VANNAMEI WHITE PEELED AND DEVEINED TAIL ON IQF SHRIMPS PACKING : 5 X 2 LBS BRAND: COS</u></b></td>
		<td class = "b_r"></td>
		<td class = "b_r"></td>
		<td></td>
		<td class = "b_l"></td>
	</tr>
	<tr>
		<td colspan = "2"></td>
		<td class = "center"><b>21/25</b></td>
		<td colspan = "2" class = "center b_r"><b>800</b></td>
		<td class = "right b_r"><b>8000.000</b></td>
		<td class = "center"><b>4.95</b></td>
		<td class = "right b_l"><b>39600.00</b></td>
	</tr>
	<tr>
		<td colspan = "2"></td>
		<td class = "center"><b><u>TOTAL</u></b></td>
		<td colspan = "2" class = "center b_t b_r"><b>800</b></td>
		<td class = "right b_t b_r"><b>8000.000</b></td>
		<td></td>
		<td class = "right b_t b_l"><b>39600.00</b></td>
	</tr>
	<tr>
		<td colspan = "2"></td>
		<td class = "center"><b><u>GRAND TOTAL</u></b></td>
		<td colspan = "2" class = "center b_t b_b b_r"><b>3500</b></td>
		<td class = "right b_t b_b b_r"><b>35000.000</b></td>
		<td></td>
		<td class = "right b_t b_b b_l"><b>173250.00</b></td>
	</tr>
	<tr>
		<td colspan = "3"></td>
		<td><b>US$</b></td>
		<td class = "b_r"><b>US$</b></td>
		<td class = "b_r"></td>
		<td></td>
		<td class = "b_l"></td>
	</tr>
	<tr>
		<td colspan = "3" class = "center">INVOICE VALUE</td>
		<td colspan = "2" class = "right b_r">173250.00</td>
		<td colspan = "3"><b>GROSS WEIGHT : 45132.159 LBS</b></td>
	</tr>
	<tr>
		<td colspan = "3" class = "center">LESS : FREIGHT</td>
		<td colspan = "2" class = "right b_r">1800.00</td>
		<td colspan = "3"><b>NET WEIGHT : 35000.000 LBS.</b></td>
	</tr>
	<tr>
		<td colspan = "3"><b>(LESS : MERCHANDISE PROCESS FEE @ 0.3464 %)</b></td>
		<td colspan = "2" class = "b_b b_r right">485.00</td>
		<td colspan = "3"></td>
	</tr>
	<tr>
		<td colspan = "4"></td>
		<td class= "right b_r">170965.00</td>
		<td class= "b_r"></td>
		<td></td>
		<td class = "b_l"></td>
	</tr>
	<tr>
		<td></td>
		<td colspan = "2"><b>(US$. 170965.00 X 3.4050/ 103.4050)</b></td>
		<td colspan = "2" class = "right b_r">5629.67</td>
		<td class= "b_r"></td>
		<td></td>
		<td class = "b_l"></td>
	</tr>
	<tr>
		<td></td>
		<td colspan = "2"><b>FOB VALUE</b></td>
		<td colspan = "2" class = "right b_t b_r b_b">165335.33</td>
		<td class= "b_r"></td>
		<td></td>
		<td class = "b_l"></td>
	</tr>
	<tr>
		<td colspan = "6" class = "b_t">Amount Chargeable</td>
		<td class = "b_t">Total</td>
		<td class = "right b_t b_l b_b"><b>173250.00</b></td>
	</tr>
	<tr>
		<td colspan = "6"><b>(in words) ( US DOLLARS ONE HUNDRED SEVENTY THREE THOUSAND TWO HUNDRED AND FIFTY ONLY)</b></td>
		<td colspan = "2"></td>
	</tr>
	<tr>
		<td colspan = "8">EACH M/CTNS. CONSISTS OF NET WT. 10.0 LBS . AND GROSS WT. 12.89 LBS.</td>
	</tr>
	<tr>
		<td colspan = "6"></td>
		<td colspan = "2"  class = "b_t b_l">for DEVI FISHERIES LIMITED</td>
	</tr>
	<tr></tr>
	<tr>
		<td colspan = "6">Declaration:</td>
		<td colspan = "2"  class = "b_l"></td>
	</tr>
	<tr>
		<td colspan = "5">We declare that this invoice shows the actual price of the goods described and that all particulars are true and correct</td>
		<td></td>
		<td colspan = "2" class = "b_l">AUTHORISED SIGNATORY Signature & Date</td>
	</tr>
</table>

 
<style type="text/css">
/*table, th, td {
    border:  solid 1px black;
    
    border-collapse: none;
}*/
td{
	font-size: 12px;
}
.top_space{
	padding-top: -150px;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
#border{
	border: 1px solid black;
}
.b_t{
	border-top: 1px solid black;
}
.b_r{
	border-right: 1px solid black;
}
.b_b{
	border-bottom: 1px solid black;
}
.b_l{
	border-left: 1px solid black;
}
.b_l .b_t .b_r .b_b .border{
	border-collapse: collapse;
}
</style>